button {
  cursor: pointer;
  background: transparent;
  border: none;
}

.mall-card-long__block {
  box-sizing: border-box;
  display: flex;
  max-width: 789px;
  padding: 16px 24px 16px 12px;
  background: #fff;
  border: 1px solid #e9e9e9;
  border-radius: 8px;
}

.mall-card-long__image {
  width: 25%;
}

.mall-card-long__image img {
  display: block;
  min-width: 112px;
  max-width: 144px;
}

.mall-card-long__middle {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.mall-card-long__title {
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

.mall-card-long__art {
  margin-top: 4px;
  margin-bottom: 16px;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
}

.mall-card-long__chars {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 25px;
}

.mall-card-long__color {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.mall-card-long__color span {
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border-radius: 50%;
}

.mall-card-long__on-off-block {
  display: flex;
}

.mall-card-long__on-off-block button {
  display: flex;
  align-items: center;
  padding: 0;
  margin-right: 16px;
}

.mall-card-long__on-off-block button svg {
  margin-right: 4px;
}

.mall-card-long__third-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  width: 25%;
}

.mall-card-long__prices {
  margin-top: 16px;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.mall-prices-long__old {
  margin-left: 8px;
  text-decoration-line: line-through;
}

.mall-card-long__economy {
  display: flex;
  align-items: center;
  margin-top: -25px;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
}

.mall-card-long__economy span {
  padding-right: 4px;
  padding-left: 4px;
  margin-left: 8px;
  color: #000;
}

.mall-card-long__counter-block {
  display: flex;
  align-self: flex-end;
}

@media (max-width: 744px) {
  .mall-cart__block {
    margin-bottom: 0;
  }

  .mall-card-long__block {
    flex-wrap: wrap;
    padding: 16px;
  }

  .mall-card-long__image {
    width: 30%;
  }

  .mall-card-long__middle {
    width: 30%;
  }

  .mall-card-long__third-block {
    width: 40%;
    margin-top: 20px;
  }

  .mall-card-long__prices {
    margin-right: 10px;
  }

  .mall-card-long__economy {
    margin-bottom: 20px;
    margin-left: -110px;
  }
}

@media (max-width: 600px) {
  .mall-card-long__image {
    width: 48%;
  }

  .mall-card-long__middle {
    width: 48%;
  }

  .mall-card-long__third-block {
    width: 100%;
    margin-top: 40px;
  }

  .mall-card-long__economy {
    margin-bottom: 20px;
    margin-left: -100px;
  }
}
