.mall-streak {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
}

.mall-streak__background {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.mall-streak__content {
  position: relative;
  width: 100%;
  color: inherit;
}

.mall-streak__title {
  margin-top: 0;
}

.mall-streak__button {
  padding: 9px 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
