button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.mall-card__block {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  width: 240px;
  background: #ffffff;
  border: 1px solid #e9e9e9;
  border-radius: 8px;
  margin: 12px auto;
}

.mall-card__labels {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.mall-card__labels p {
  padding: 0px 8px;
  width: 71px;
  background: #3bb273;
  border-radius: 2px;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  margin: 0;
}

.mall-labels__block {
  display: flex;
  width: 55px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 0;
}

.mall-card__image img {
  display: block;
  width: 216px;
}

.mall-card__title {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  margin: 0;
}

.mall-card__art {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: #8a8a8a;
  margin-top: 8px;
  margin-bottom: 20px;
}

.mall-card__available {
  font-size: 11px;
  line-height: 16px;
  color: #3bb273;
  margin-bottom: 8px;
}

.mall-card__available span {
  color: #8a8a8a;
}

.mall-card__prices {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
}

.mall-prices__old {
  text-decoration-line: line-through;
  color: #8a8a8a;
  margin-left: 8px;
}

.mall-card__button {
  width: 100%;
  position: relative;
}

.mall-button__icon {
  position: absolute;
  right: 0;
  bottom: -5px;
}

.mall-button__long {
  padding: 8px 16px;
  width: 216px;
  height: 40px;
  border: 1px solid #0364ed;
  border-radius: 4px;
  color: #0364ed;
  margin-top: 20px;
}
