button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.mall-product-card__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  margin-left: 32px;
}

.mall-product-card {
  display: flex;
  padding: 48px 0px 0px;
  max-width: 1240px;
  height: 528px;
  border: 1px solid salmon;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 41px;
}

.mall-small-images {
  width: 100px;
  margin-right: 20px;
}

.mall-product-card__image {
  width: 480px;
  margin-right: 60px;
}

.mall-description-top__buttons {
  display: flex;
  margin-bottom: 24px;
}

.mall-description-top__buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  width: 132px;
  height: 40px;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  margin-right: 8px;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}

.mall-description-top__buttons button img {
  margin-right: 10px;
}

.mall-description__label {
  width: 71px;
  height: 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
  background: #3bb273;
  border-radius: 2px;
  margin-bottom: 24px;
  text-align: center;
}

.mall-description__size h3,
.mall-description__color h3 {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  text-align: left;
}

.mall-size__buttons button,
.mall-color__buttons button {
  padding: 8px 16px;
  margin-right: 8px;
  margin-bottom: 24px;
  height: 40px;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}

.mall-color__buttons {
  display: flex;
}

.mall-color__buttons button {
  display: flex;
  align-items: center;
}

.mall-color__buttons button span {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  margin-right: 5px;
}

.mall-available__label {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #3bb273;
  margin-bottom: 8px;
}

.mall-available__label span {
  margin-left: 8px;
  color: #8a8a8a;
}

.mall-prices {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 24px;
}

.mall-prices__actual {
  margin-right: 12px;
  color: #000000;
}

.mall-prices__old {
  text-decoration-line: line-through;
  color: #8a8a8a;
}

.mall-cart__block {
  display: flex;
}

.mall-cart__counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #f5f5f6;
  border-radius: 4px;
  color: #000000;
}

.mall-cart__input {
  box-sizing: border-box;
  width: 48px;
  height: 40px;
  text-align: center;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  margin-left: 8px;
  margin-right: 8px;
}

.mall-cart__button {
  padding: 8px 16px;
  margin-left: 14px;
  width: 132px;
  height: 40px;
  background: #0364ed;
  border-radius: 4px;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
}

.mall-product-card__footer {
  margin-left: 32px;
  margin-right: 32px;
}

.mall-footer__buttons {
  display: flex;
  align-items: center;
  margin-bottom: 33px;
}

.mall-footer__buttons button {
  padding: 8px 0px;
  width: 160px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-right: 26px;
}

.mall-footer__buttons button img {
  margin-right: 11px;
}

.button-disabled {
  opacity: 0.5;
}

.description-active {
  display: block;
}

.description-disabled {
  display: none;
}

.mall-footer__description {
  max-width: 1240px;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 48px;
}

.mall-footer__description p {
  width: 710px;
  opacity: 0.8;
}

.table {
  table-layout: fixed;
  width: 100%;
  margin-bottom: 20px;
  border-spacing: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
}

.table td {
  padding: 8px 16px;
  text-align: left;
}

.table td:nth-child(odd) {
  color: #8a8a8a;
}

.table tbody tr:nth-child(odd) {
  background: #f5f5f6;
}

.table tbody tr:nth-child(even) {
  background: #fff;
}
