.mall-product-card__gallery {
  display: flex;
}

.mall-small-images {
  width: 100px;
  margin-right: 20px;
}

.mall-product-card__image {
  margin-right: 60px;
}

.mall-product-card__image img {
  max-width: 480px;
  max-height: 480px;
  object-fit: contain;
}

@media (max-width: 744px) {
  .mall-small-images {
    order: 1;
  }

  .mall-product-card__image {
    order: 2;
    width: 100%;
    margin-right: 0;
  }
}

@media (max-width: 640px) {
  .mall-product-card__gallery {
    flex-wrap: wrap;
    margin-bottom: 32px;
  }

  .mall-small-images {
    order: 2;
    display: flex;
  }

  .mall-small-images img {
    margin-right: 9px;
  }

  .mall-product-card__image {
    order: 1;
  }

  .mall-product-card__image img {
    width: 288px;
    height: 288px;
  }
}
