.mall-product-card__gallery {
  display: flex;
}

.mall-small-images {
  width: 100px;
  margin-right: 20px;
}

.mall-product-card__image {
  width: 480px;
  height: 480px;
  margin-right: 60px;
}

.mall-product-card__image img {
  display: block;
  width: 480px;
  height: 480px;
  object-fit: contain;
}

@media (max-width: 744px) {
  .mall-small-images {
    order: 1;
  }

  .mall-product-card__image {
    order: 2;
    width: 100%;
    margin-right: 0;
  }
}

@media (max-width: 640px) {
  .mall-product-card__gallery {
    flex-wrap: wrap;
    margin-bottom: 32px;
  }

  .mall-product-card__image {
    order: 1;
    width: 288px;
    height: 288px;
  }

  .mall-product-card__image img {
    width: 288px;
    height: 288px;
  }

  .mall-small-images {
    display: flex;
    flex-wrap: wrap;
    order: 2;
    margin-left: 10px;
  }

  .mall-small-images img {
    width: 100px;
    height: 96px;
    margin-right: 9px;
  }
}

@media (max-width: 481px) {
  .mall-small-images {
    flex-wrap: nowrap;
  }

  .mall-small-images img {
    width: 90px;
    height: 90px;
  }
}
