.mall-contact__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1240px;
  min-height: 70px;
  font-weight: 500;
  line-height: 22px;
  border-top: 1px solid #e9e9e9;
}

.mall-contact__title {
  width: 40%;
  margin-right: 10px;
}

.mall-contact__data {
  display: flex;
  justify-content: start;
  width: 60%;
}

.mall-contact__value {
  margin-right: 64px;
}

.mall-contact__value a {
  font-weight: 400;
  text-decoration: none;
}

@media (max-width: 744px) {
  .mall-contact__title {
    width: 25%;
  }

  .mall-contact__data {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
  }
}
