button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
}

.mall-product-card {
  display: flex;
  padding: 48px 0px 0px;
  max-width: 1240px;
}

.mall-details-top__buttons {
  display: flex;
  margin-bottom: 24px;
}

.mall-details-top__buttons button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 13px;
  width: 132px;
  height: 40px;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  margin-right: 8px;
  font-weight: 400;
  font-size: 15px;
}

.mall-details__labels-block {
  display: flex;
  align-items: center;
  width: 100%;
}

.mall-details__labels-block p {
  width: 71px;
  height: 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
  border-radius: 2px;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 24px;
  text-align: center;
}

.mall-details__labels-block .labels__new {
  background: #3bb273;
}

.mall-details__labels-block .labels__discount {
  background: #e8303b;
}

.mall-details__labels-block .labels__hit {
  background: #f9ac30;
  border-radius: 7px;
}

.mall-details__size h3,
.mall-details__color h3 {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: left;
}

.mall-size__buttons button,
.mall-color__buttons button {
  padding: 8px 16px;
  margin-right: 8px;
  margin-bottom: 24px;
  height: 40px;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}

.mall-color__buttons {
  display: flex;
}

.mall-color__buttons button {
  display: flex;
  align-items: center;
}

.mall-color__buttons button span {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  margin-right: 5px;
}

.mall-available__label {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #3bb273;
  margin-bottom: 8px;
}

.mall-available__label span {
  margin-left: 8px;
}

.mall-prices {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 24px;
}

.mall-prices__actual {
  margin-right: 12px;
}

.mall-prices__old {
  text-decoration-line: line-through;
}

button:focus {
  border: 2px solid #0364ed;
}

@media (max-width: 744px) {
  .mall-product-card__block {
    margin: 16px;
  }

  .mall-product-card__title {
    font-size: 24px;
    line-height: 32px;
  }

  .mall-product-card {
    flex-wrap: wrap;
    padding-top: 0;
  }

  .mall-color__buttons {
    flex-wrap: wrap;
    margin-bottom: 32px;
  }

  .mall-size__buttons button,
  .mall-color__buttons button {
    margin-bottom: 5px;
  }

  .mall-footer__buttons {
    justify-content: space-between;
  }

  .mall-footer__buttons button {
    margin-right: 2px;
  }
}
