@media (min-width: 320px) {
  .mall-slider__arrow-button {
    width: 24px;
    height: 24px;
  }
}

@media (min-width: 768px) {
  .mall-slider__arrow-button {
    width: 48px;
    height: 48px;
  }
}

.mall-slider__arrow-button {
  padding: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
}

.mall-slider__arrow-button:first-child {
  margin-right: 8px;
}
